<!DOCTYPE html>
<html>

<head>
    <title>
        My Blog Site :D
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- post.titleHtml %>
    <%- post.bodyHtml %>

    <br>
    <%- post.authorLine %>
    <%- post.dateLine %>
</body>

</html>